{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
login
{% endblock title %}
{% block content %}

<div class="columns is-desktop ">
    <div class='column is-quarter'></div>
    <div class='column'>
<h1 >Login</h1>
<form method='post'>
{% csrf_token %}
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" name='username'  id='id_username' placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" id='id_password' name="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">
      Login
    </button>&nbsp;&nbsp;<span ><a href='{% url 'password_reset' %}' >forgot your password</a>
  </p>
</div>
</form>
</div>
<div class='column'></div>

</div>

<script>
    
$(document).ready(function(){
//   $('#id_username').addClass('input').attr({'type':'email'}).attr({'placeholder':'Email'})
//   $('#id_password').addClass('input').attr({'type':'password'}).attr({'placeholder':'Password'})

})
</script>

{% endblock content %}