{% extends "base.html" %}
{% block title %}
password chnaged
{% endblock title %}
{% block content %}
<h1>Password change successful</h1>
<p >Your password was changed.</p>

{% endblock content %}