{% extends "base.html" %}
{% block title %}
login
{% endblock title %}
{% block content %}
<div class='columns is-desktop'>
<div class='column'></div>
<div class='column is-half'>
<h1 >Password Change</h1>
<p> please enter your old password inorder to change your password </p>
<form method='post'>
{% csrf_token %}
<div class="field">
        <label class="label has-text-primary">Old Password</label>
        <div class="control">
          <input class="input" type="password" name="old_password" id='id_old_password' autofocus placeholder="e.g vbvgc4$%CFCgf">
        </div>
</div>
<div class="field">
        <label class="label has-text-primary">New Password</label>
        <div class="control">
          <input class="input" type="password" name="new_password1" id='id_new_password1'  placeholder="e.g vbvgc4$%CFCgf">
        </div>
</div>
<div class="field">
        <label class="label has-text-primary">Confirm Password</label>
        <div class="control">
          <input class="input" type="password" name="new_password2" id='id_new_password2'  placeholder="e.g vbvgc4$%CFCgf">
        </div>
</div>
        <button type='submit' class="button is-primary">Change Password</button>
</form>
</div>
<div class='column'></div>
</div>
{% endblock content %}