{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
forgot your password !
{% endblock title %}
{% block content %}
<div class='columns is-desktop'>
        <div class='column'></div>
        <div class="column">
<h1 >Forgot your password</h1>
<p> enter your email id , we will send you email  regarding link for password reset </p>
<form method='post'>
{% csrf_token %}
<div class="field">
        <div class="control">
          <input class="input" type="email" name="email" id='id_email' autofocus placeholder="Enter Your Email ID">
        </div>
</div>
<button type='submit' class='button is-info'>send me !nstructions</button>
</form>
</div>
<div class='column'></div>
</div>
{% endblock content %}