{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.img{
 height: 100px;
 width: 100px;
 border-radius: 360px;
 border:2px solid black;
 filter:brightness(140%);
}
.div{
    padding: 10px;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}
.img:hover{
  transform: scale(1.1);
}
.img ~ a{
    color: green;
    font-size: 30px;
    position: relative;
    top:-50px;
}
h1{
    font-size: 40px;
}
</style>
<div class='columns is-desktop'>
<div class="column"></div>
<div class="column">
<div class="div has-text-centered" >
<h1>My Profile</h1>
<img class='img'  src="{{object.pic.url}}" >
<a  class='has-text-primary' >{{user.name}}</a>
<p>Email :: {{user.email}}</p>
{% if user == profile.user %}
<p>Mobile Number :: {{user.mobile}}</p>
<p>DOB : {{object.date_of_birth}}</p>
<p>Joined on :: {{user.date_joined}}</p>
{% else %}
{% endif %}
<p>Total Requests made {{user.raiserequest_set.count}} </p>
</div>
</div>
</div>
{% endblock content%}