{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Signup
{% endblock title %}
{% block content %}
<style>
  .columns{
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     align-content: space-around;
  }
  
  form{
    margin: auto;
    width: 90%;
  }
</style>
<div class='columns is-desktop is-mobile'>
  <!-- <div class='column2'></div> -->
  <div class="column2">
  <h1 style='letter-spacing:5px;font-size:30px'>Signup</h1>
<form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
        <label class="label has-text-primary">Name</label>
        <div class="control">
          <input class="input" type="text" name="name" id='name' placeholder="e.g John Doe">
        </div>
        </div>
      
        <div class="field">
        <label class="label has-text-primary">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" id='email' placeholder="e.g. johndoe@gmail.com">
        </div>
        </div>

        <div class="field">
          <label class="label has-text-primary">Mobile</label>
          <div class="control">
            <input class="input" type="text" name="mobile" id='mobile' placeholder="e.g. 9827935342">
          </div>
          </div>

          <div class="field">
            <label class="label has-text-primary">Password</label>
            <div class="control">
              <input class="input" type="password" name="password" id='password' placeholder="e.g. dvgdhjdn3456@$%%$">
            </div>
            </div>

            <div class="field">
              <label class="label has-text-primary">Password2</label>
              <div class="control">
                <input class="input" type="password" name="password2" id='password2' placeholder="e.g. dvgdhjdn3456@$%%$">
              </div>
              </div>

            <div id="file-js-example" class="file has-name is-primary is-centered">
                  <label class="file-label">
                    <input class="file-input photo" type="file"  id='id_pic' name="pic" accept="image/*">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                       Upload Image
                      </span>
                    </span>
                    <span class="file-name">
                      No file uploaded
                    </span>
                  </label>
                </div>
                
              <div class="field">
              <label class="label has-text-primary">Date OF Birth</label>
              <div class="control">
              <input class="input" type="date" class='datepicker' name="date_of_birth" id='id_date_of_biirth' >
              </div>
              </div>
 
      <button type='submit' class='button is-danger'>Signup</button>
              </form>
</div>
<!-- <div class='column2'></div> -->
</div>
<script>
const fileInput = document.querySelector('#file-js-example input[type=file]');
fileInput.onchange = () => {
  if (fileInput.files.length > 0) {
    const fileName = document.querySelector('#file-js-example .file-name');
    fileName.textContent = fileInput.files[0].name;
  }
}

</script>
{% endblock content %}