{% extends 'base.html' %}
{% block content %}
<style>
.input,.select {
  width:80%;
}
</style>
<div class='columns is-desktop is-mobile'>
<div class="column">
<h1 style="color:white;font-size:40px;text-align:center;font-family:'Lobster', cursive;">Add Image</h1>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="field">
        <label class="label" style="color: white;font-size: 20px;">Title</label>
        <div class="control">
          <input class="input" type="text" name="title" id='id_title'>
        </div>
</div>

<div class="field">
        <label class="label " style="color: white;font-size: 20px;">Category</label>
        <div class="control">
          <div class="select" style="width: 100%;">
                {{form.category}}
              </div>
        </div>
</div>
<div class="field">
  <div id="file-js-example" class="file has-name is-primary ">
    <label class="file-label" style="width: 80%;">
      <input class="file-input photo" type="file"  id='id_image' name="image" accept="image/*">
      <span class="file-cta" >
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label" >
          Add Image
        </span>
      </span>
      <span class="file-name" style="width: 40%;">
        No file uploaded
      </span>
    </label>
  </div>
</div>
  
<input type="submit" class='button is-success' value="submit Now" />
</form>
</div>
<div class="column"></div>
</div>
<script>

        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
          if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#file-js-example .file-name');
            fileName.textContent = fileInput.files[0].name;
          }
        }
        $(document).ready(function(){
            $('#id_category').addClass('select')
        })
 </script>
{% endblock content%}