{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.img{
 height: 100px;
 width: 100px;
 border-radius: 360px;
 border:2px solid black;
 filter:brightness(140%);
}
.div{
    padding: 10px;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}
.img:hover{
  transform: scale(1.1);
}
.img ~ a{
    color: green;
    font-size: 30px;
    position: relative;
    top:-50px;
}
h1{
    color:white;
    font-size: 40px;
}
</style>
<div class='columns is-desktop'>
<div class="column"></div>
<div class="column">
<div class="div has-text-centered" >
<h1>Approval Details</h1>
<img class='img'  src="{{object.issue.raised_by.profile.pic.url}}" >
<a href='{% url 'profile' pk=object.issue.raised_by.profile.pk %}' class='has-text-primary' >{{object.issue.raised_by.name}}</a>
<p>Short Description : {{object.issue.short_description}}</p>
<p>{{object.comment}}</p>
<p>Date : {{object.date_added}}</p>
<p>File generated on :{{object.date_updated}} <a href='{{object.document.url}}' class='has-text-danger' target="_blank">Download File</a> </p>
</div>
</div>
</div>
{% endblock content%}