{% extends 'base.html' %}
{% block content %}
  <style>
    .input,.select{
      width: 80%;
    }
  @media only screen and (max-width: 375px) {
  .columns{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .column{
    /* background: red; */
   width:7px;
  }
  
    
  }

 
  </style>
<div class='columns is-desktop is-mobile'>
<!-- <div class='column'></div> -->
<div class="column hide">
<h1 style='font-size:30px;color: white; font-family: Lobster';>Approve Request</h1>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="field">
        <label class="label" style="color: white;">Comment</label>
        <div class="control">
          <input class="input" type="text" name="comment" id='id_comment'>
        </div>
</div>

<div class="field">
  <div id="file-js-example" class="file has-name is-primary is-centered" style="width: 80%;">
    <label class="file-label">
      <input class="file-input photo" type="file"  id='id_document' name="document" >
      <span class="file-cta" style="width: 50%;">
        <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Upload Document
            </span>
          </span>
          <span class="file-name" style="color: white;">
            No file uploaded
          </span>
        </label>
      </div>
    </div>
      
<div class="field" >
        <label class="label has-text-primary">Requested By</label>
        <div class="control">
          <div class="select" style="width: 80%;">
                {{form.issue}}
              </div>
        </div>
</div>
<input type="submit" class='button is-danger' value="submit Now" />
</form>
</div>
<!-- <div class="column"></div> -->
</div>
<script>
        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
          if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#file-js-example .file-name');
            fileName.textContent = fileInput.files[0].name;
          }
        }
        $(document).ready(function(){
            $('#id_issue').addClass('select').addClass('is_large')
        })
        </script>
{% endblock content%}