{% extends "base.html" %}
{% block content %}
<style>

table { 
  width: 100%; 
  border-collapse: collapse; 
  color:rgb(75, 0, 110);
  border:3px solid rgb(255, 244, 90);
}
tr:nth-of-type(odd) { 
  background: #eee; 
}
tr:nth-of-type(even) { 
  background: #eee; 
}
th { 
 color:#ccc;
  background:rgb(66, 186, 241); 
}
td, th { 
  text-align: center;
  padding: 6px; 
  /* border: 1px solid #ccc;  */
  text-align: left; 
}

h1{
  color:white;
}
@media only screen and (max-width: 375px){
  table, thead, tbody, th, td, tr { 
		display: block;

	}
   table{
    border:3px dotted #ff2922;
   }
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

  td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "Date Creted"; }
	td:nth-of-type(3):before { content: "Title"; }
	td:nth-of-type(4):before { content: "Summary "; }
	td:nth-of-type(5):before { content: "Related File link"; }
	td:nth-of-type(6):before { content: "Status"; }
	td:nth-of-type(7):before { content: "Download Link"; }
	td:nth-of-type(8):before { content: "Generated On"; }
	td:nth-of-type(9):before { content: "Requested By"; }
}


/* This type of table styling is taken from url https://css-tricks.com/responsive-data-tables */

</style>
<div class="columns is-desktop is-mobile">
  <div class='column' style="overflow-x:auto;">
    {% if user.is_admin %}
    <h1 style='font-size:30px' class="has-text-centered">Approved By Me</h1>
    {% else %}
    <h1 style='font-size:30px' class="has-text-centered">My Orders</h1>
    {% endif %}
    <table>
      <thead>
        <tr><th style="color:white;">ID</th><th style="color:white;">Date Requested</th><th style="color:white;">Title</th><th style="color:white;">Short Description</th><th style="color:white;">Related File</th><th style="color:white;">Status</th><th style="color:white;">Download Link</th><th style="color:white;">Generated on</th>{% if request.user.is_superuser %}<th style="color:white;">Requested By</th> {% else %} {% endif %}</tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
        <tr>
          <td>{{obj.id}}</td>
          <td>{{obj.date_added}}</td>
          <td>{{obj.title}}</td>
          <td>{{obj.short_description}}</td>
          <td><a href="{{obj.related_docs.url}}" class='has-text-primary' target="_blank" >View file</a></td>
          <td>{{obj.get_status}}</td>
          {% if obj.status == '1' %}
          <td><a href="{{obj.approverequest.document.url}}" class='has-text-primary' target="_blank" >Download file</a></td>
          <td>{{obj.approverequest.date_added}}</td>
          {% else %}
          <td>---</td>
          <td>---</td>
          {% endif %}
          {% if request.user.is_superuser %}
           <td>{{obj.raised_by.name}}</td>
          {% else %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}