{% extends "base.html" %}
{% load static %}
{% block content%}
<style>
.gallery{
    display:flex;
    flex:1 1 auto;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    flex-shrink: initial;
  flex-direction:row-reverse;
}
.div{
  margin:5px;
  padding:5px;
}
.image{
    filter: brightness(10%) contrast(100%) blur(-100px) ;
    height: 300px;
    width:auto;
    border-radius: 10px ;
    border:2px solid white;
    
}
.image:hover{
    animation: justflip;
    background: transparent;
    animation-direction: alternate-reverse;
    animation-duration: 500ms;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in;
}
.image:hover div{
    background: transparent;
}

.hero-body{
  
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('{% static "img/background.jpg" %}');
        background-size: auto;
    } 

@keyframes justflip{
  100%{
    transform: scale(1.01);
  }
  75%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(1.25);
  }
  0%{
    transform: scale(1.3);
  }
}
</style>
<div class="gallery">
{% for obj in object_list %}
<div class='div' style="margin: 5px;">
<img class='image' src='{{obj.image.url}}' >
<p style="color: thistle;">@{{obj.owner.name}}</p>
<p style="color: thistle;">#{{obj.category.title}} - {{obj.date_added}}</p>
</div>

{% endfor %}
</div>
{% endblock content%}