{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.detail{
    color:white;
    /* text-align: center; */
    font-size: 18px;
}
.columns{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border:2px solid white;
}

</style>
<div class="columns is-mobile is-desktop">
  <div class="column detail">
      <h1 style="font:500;font-size: 30px;" >Detail Of Request</h1>
      <p>Title --<span style="color:yellow"> {{object.title}}</span></p>
      <p>Short Description --<span style="color:yellow"> {{object.short_description}}</span></p>
      <p>Description --<span style="color:yellow"> {{object.description}}</span></p>
      <p>Date Requested --<span style="color:yellow">{{object.date_added}}</span></p>
      <p>Date Updated --<span style="color:yellow">{{object.date_updated}}</span></p>
      <img src="{{object.related_docs.url}}" height="300" width="400">
    </div>
</div>
    {% endblock content%}