{% extends 'base.html' %}
{% block content %}
<style>
  @media only screen and (max-width:375px) {

  }

</style>


<div class='columns is-desktop is-mobile'>
<!-- <div class='column'></div>  -->
<div class="column second is-two-thirds">
<h1 style="color: white;font-size: 35px;text-align: center;">Request</h1>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="field">
        <label class="label has-text-primary">Title</label>
        <div class="control">
          <input class="input" type="text" name="title" id='id_title'>
        </div>
</div>

<div class="field">
        <label class="label has-text-primary">Short Description</label>
        <div class="control">
          <input class="input" type="text" name="short_description" id='id_short_description' >
        </div>
</div>


<div class="field">
        <label class="label has-text-primary">Description</label>
        <div class="control">
          <textarea class="input textarea" name="description" id='id_description'></textarea>
</div>
</div>
<div class="field">

  <div id="file-js-example" class="file has-name is-primary is-centered">
    <label class="file-label">
      <input class="file-input photo" type="file"  id='id_related_docs' name="related_docs" accept="image/*">
      <span class="file-cta" style="width: 50%;" >
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Upload Related Image
        </span>
      </span>
      <span class="file-name">
        No file uploaded
      </span>
    </label>
  </div>
</div>
  <p></p>
  <input type="submit" class='button is-info' value="submit Now" />
</form>
</div>
<div class="column"></div>
</div>
<script>
        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
          if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#file-js-example .file-name');
            fileName.textContent = fileInput.files[0].name;
          }
        }
        
        </script>
{% endblock content%}