{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <meta charset="utf-8">
  <title>{% block title %}
    Exotic Design
    {% endblock %}</title>
    <style>
      .hero-body{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('{% static "img/background3.jpg" %}');
        background-size: cover;
        background-position: center;
      } 
     </style>
      
</head>
<body>
  <main>
   
  <section class="hero  is-fullheight">
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="{% url 'home' %}" style="font-size:30px;font-family: 'Lobster', cursive;">
              ExoticDesigns
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
              <a class="navbar-item is-active" href='{% url "home" %}' >
                  Home
                </a>
                <a class="navbar-item" href='' >
                    About me
                  </a>
                  <a class="navbar-item" href="{% url 'gallery' %}">
                      Gallery
                    </a>
              {% if user.is_admin %}
                <a class="navbar-item " href='{% url 'adashboard' %}' >
                   Admin Dashboard
                </a>
                <a class="navbar-item " href='{% url 'addimage' %}' >
                    Add Image
                 </a>
                <a class="navbar-item" href="{% url 'approve' %}">
                 Approve
                </a>
                {% elif user.is_authenticated %}
                <a class="navbar-item " href="{% url 'dashboard' %}" >
                  Dashboard
                  </a>
                <a class="navbar-item" href="{% url 'raiserequest' %}">
                Request  
                </a>
                {% else %}
                
                 {% endif %}
                {% if user.is_authenticated %}
                <span class="navbar-item">
                    <a class="button is-info is-inverted" href="{% url 'password_change' %}">
                      <span class="icon">
                        <i class="fas fa-user-plus"></i>
                      </span>
                      <span>Change Password</span>
                    </a>
                  </span>
                  <span class="navbar-item">
                      <a class="button is-info is-inverted" href="{% url 'logout' %}">
                        <span class="icon">
                          <i class="fas fa-sign-in-alt"></i>
                        </span>
                        <span>Logout</span>
                      </a>
                    </span>
                {% else %}
                <span class="navbar-item">
                  <a class="button is-success is-inverted" href="{% url 'signup' %}">
                    <span class="icon">
                      <i class="fas fa-user-plus"></i>
                    </span>
                    <span>Signup</span>
                  </a>
                </span>
                <span class="navbar-item">
                    <a class="button is-success is-inverted" href="{% url 'login' %}">
                      <span class="icon">
                        <i class="fas fa-sign-in-alt"></i>
                      </span>
                      <span>Login</span>
                    </a>
                  </span>
                  {% endif %}
              </div>
            </div>
          </div>
        </header>
      </div>
    
      <div class="hero-body is-primary" >
        <div class="container is-primary">
            {% block content %}
            {% endblock content %}
        </div>
      </div>
    
    </section><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
  
        });
      });
    }
  });
 
  </script>

</body>
</html>