{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <meta charset="utf-8">
  <title>{% block title %}
    Home
    {% endblock %}</title>
    <style>
      .hero-body{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('{% static "img/background3.jpg" %}');
        background-size: cover;
        background-position: center;
        animation: changeimage;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-direction: alternate;
        animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
      } 
      @keyframes changeimage{
        0%{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('{% static "img/background3.jpg" %}');
        background-size: cover;
        background-position: center;
        }
      50%{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('{% static "img/background1.jpg" %}');
        background-size: cover;
        background-position: center;
      }
      100%{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('{% static "img/background4.jpg" %}');
        background-size: cover;
        background-position: center;
      
      }
      }
    

.typewriter h1 {
  color: #fff;
  font-size: 70px;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(30, end)  infinite,
    blink-caret .5s step-end infinite;
}
.second{
  display: none;
}
@media only screen and (max-width: 375px){
 
   .first{
     display: none;
   }
   .second{
       font-size: 35px;
       display: block;
       text-align: left;
   }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


      </style>
      
</head>
<body>
  <main>
   
  <section class="hero  is-fullheight">
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="{% url 'home' %}" style="font-size:30px;font-family: 'Lobster', cursive;">
              ExoticDesigns
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
              <a class="navbar-item is-active" href='{% url "home" %}' >
                  Home
                </a>
                <a class="navbar-item" href='' >
                    About me
                  </a>
                  <a class="navbar-item" href="{% url 'gallery' %}">
                      Gallery
                    </a>
              {% if user.is_admin %}
                <a class="navbar-item " href='{% url 'adashboard' %}' >
                   Admin Dashboard
                </a>
                <a class="navbar-item " href='{% url 'addimage' %}' >
                    Add Image
                 </a>
                <a class="navbar-item" href="{% url 'approve' %}">
                 Approve
                </a>
                {% elif user.is_authenticated %}
                <a class="navbar-item " href="{% url 'dashboard' %}" >
                  Dashboard
                  </a>
                <a class="navbar-item" href="{% url 'raiserequest' %}">
                Request  
                </a>
                {% else %}
                
                 {% endif %}
                {% if user.is_authenticated %}
                <span class="navbar-item">
                    <a class="button is-info is-inverted" href="{% url 'password_change' %}">
                      <span class="icon">
                        <i class="fas fa-user-plus"></i>
                      </span>
                      <span>Change Password</span>
                    </a>
                  </span>
                  <span class="navbar-item">
                      <a class="button is-info is-inverted" href="{% url 'logout' %}">
                        <span class="icon">
                          <i class="fas fa-sign-in-alt"></i>
                        </span>
                        <span>Logout</span>
                      </a>
                    </span>
                {% else %}
                <span class="navbar-item">
                  <a class="button is-success is-inverted" href="{% url 'signup' %}">
                    <span class="icon">
                      <i class="fas fa-user-plus"></i>
                    </span>
                    <span>Signup</span>
                  </a>
                </span>
                <span class="navbar-item">
                    <a class="button is-success is-inverted" href="{% url 'login' %}">
                      <span class="icon">
                        <i class="fas fa-sign-in-alt"></i>
                      </span>
                      <span>Login</span>
                    </a>
                  </span>
                  {% endif %}
              </div>
            </div>
          </div>
        </header>
      </div>
    
      <div class="hero-body is-primary" >
        <div class="typewriter" >
          <h1 class="title first quote" style="font-family: 'Dancing Script', cursive;">We Design Your Dream Home !!!  </h1>
          <h1 class="title second quote" style="font-size: 35px;font-family: 'Dancing Script', cursive;">We Design Your<br> Dream <br>Home !!!  </h1>
          <p style="color:white;text-align: center;">Contact us Now<br><a class="button is-primary">Contact</a></p>  
        </div>  
          <!-- {% if messages %}
          <ul class="messages">mongolab
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          {% if user.is_authenticated %}
            Hi {{ user.name}}!
            <p><a href="{% url 'logout' %}">logout</a></p>
          {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">login</a>
          {% endif %} -->
          
       
      </div>
    
    </section><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
  
        });
      });
    }
  });
 
  </script>

</body>
</html>